*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 250px;
    height: 590px;
    overflow: hidden;
}
.top{
    height: 55%;
    position: relative;
}
.top>img{
    height: 100%;
    width: 100%;
}
.top>button{
    position: absolute;
    right: 5%;
    top: 5%;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border: none;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 4px;

}
.butom{
    text-decoration: none;
    padding: 10px;
    height: 150px;
}
.butom>div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
    padding: 5px;
}

.butom>div>*{
    font-family: 'Poppins', sans-serif;
    color: black;
}
.butom>div>span{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 500;

}
.butom>div>div>span{
    text-decoration: none;
    color: gray;
    font-size: 13px;
    font-weight: 500;

}
.butom>div>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.butom>div>div>span{
    display: flex;
    align-items: center;
    gap: 10px;
}